@font-face {
  font-family: "DM Sans";
  src: url("../src/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../src/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("ttf");
  font-weight: 100 900;
  font-style: italic;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
